<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${title}">Society Parking System</title>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<div th:if="${error}" class="alert alert-danger">
    <span th:text="${error}"></span>
</div>
<header>



    <nav>
        <div class="logo">Society Parking</div>
        <div class="nav-links">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/user/dashboard}" sec:authorize="hasRole('USER')">Dashboard</a>
            <a th:href="@{/admin/dashboard}" sec:authorize="hasRole('ADMIN')">Admin</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</header>

<main>
    <div th:replace="${content}"></div>
</main>

<footer>
    <p> Society Parking System</p>
</footer>
</body>
</html>